@media screen and (min-width: 400px) {
    

.nav-link{
    list-style-type: none;
    margin: 10px;
    padding: 8px;
    width: 200px;
    display: block;
    text-align: center;
    border: 1px solid black;
    text-align: left;
    
}

#main{
    display: flex ;   
}

#main-doc{
    text-align: justify;
    margin-left: 250px;
}
header{
    font-size: 1.5em;
}
section{
    font-family:sans-serif,Arial, Helvetica;
}

#navbar{
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0%;
    left: 0%;
}
}